
<% content_for :js_css_include do %>
	<%= javascript_include_tag 'Main', media:'all', 'data-turbolinks-track': 'reload' %>
	<script>
		<% if logged_in? %>
		var app = {
			loginFlag : true,
			provider : '<%= session[:provider] %>',
			user_id : <%= current_user.id %>
		}
		<% else %>
		var app = {
			loginFlag : false,
			user_id : -1
		}
		<% end %>
	</script>
	
<% end %>

	
	<div class="container">

		<div class="map">
			<div class="leaflet" id="leafletMap"></div>
			<div class="pixi"></div>
			<div class="cover"></div>
		</div>

		<div class="interface">

			<div class="about_container">
				<h3>自分が今いる場所を共有しよう！</h3>

				<ul class="examples">
					<li><%= image_tag('top/0.gif', { :alt => 'MapPop 例1'}) %></li>
					<li><%= image_tag('top/3.gif', { :alt => 'MapPop 例2'}) %></li>
				</ul>

				<p class="border_text">
					<span>地図の上に<br>キャラクターやかざりをデコって<br>TwitterやFaceBookに<br>シェアしよう！</span>
				</p>
				
				<% if logged_in? %>
					<a href="javascript:void(0);" class="btn0 start_btn c_mb40">はじめる！</a>
				<% else %>
					<%= link_to 'Twitterでログイン', '/auth/twitter', :class => 'btn0 twitter c_mb20' %>
					<%= link_to 'Facebookでログイン', '/auth/facebook', :class => 'btn0 facebook c_mb40' %>
				<% end %>


				<section class="howto c_mb40">
					<h2 class="c_title1">マップスタンプってどんなサービス？</h2>
					<p class="c_mb40">
						地図の上にスタンプ、飾り、フィルター、メッセージ、アニメーションをつけてTwitterやFaceBookに現在地を共有できるサービスだよ！
					</p>

					<div class="example">
						<%= image_tag('top/1.gif', { :alt => 'MapPop 例3'}) %>
						<p>こんなＧｉｆアニメが作れるよ！</p>
					</div>

					<h2 class="c_title1">どう使うの？</h2>
					<ul class="c_mb40 c_list0">
						<li>
							Twitterアカウントもしくは、FaceBookアカウントで登録！
						</li>
						<li>
							自分のいる現在地を、地図を移動したり拡大して決定しよう！
						</li>
						<li>
							地図にスタンプ、飾り、フィルター、メッセージ、アニメーションをつけてデコろう！
						</li>
						<li>
							作成したGifアニメや画像をTwitter、FaceBookに共有しよう！
						</li>
					</ul>
				</section>
					
				<% if logged_in? %>
					<a href="javascript:void(0);" class="btn0 start_btn">はじめる！</a>
				<% else %>
					<%= link_to 'Twitterでログイン', '/auth/twitter', :class => 'btn0 twitter c_mb20' %>
					<%= link_to 'Facebookでログイン', '/auth/facebook', :class => 'btn0 facebook' %>
				<% end %>


				<!--
				<FORM id="form0" enctype="multipart/form-data" method="post">
					<INPUT type="file" name="upfile">
					<%= hidden_field_tag "authenticity_token", form_authenticity_token %>
				</FORM>
				-->
			</div>

			
			<div class="capture_btn_container">
				<p class="border_text">
					<span>地図をフリックして<br>位置を調整しよう！</span>
				</p>
				<a href="javascript:void(0);" class="btn0">決定！</a>
			</div>


			<div class="editor">
				<div class="bottom slider">
					<ul class="stamps">
					</ul>
					<ul class="decorations">
					</ul>
					<ul class="filters">
					</ul>
				</div>

				<ul class="select_menu">
					<li>スタンプ</li>
					<li>かざり</li>
					<li>フィルター</li>
				</ul>
				
				<p class="border_text">
					<span>スタンプやフィルターで<br>デコろう！<br>配置したスタンプは<br>ドラッグで調整できるよ！</span>
				</p>

				<a href="javascript:void(0);" class="btn0">決定！</a>
			</div>


			<div class="text_editor">
				<p class="border_text">
					<span>アピールしたいことを<br>文章で書こう！</span>
				</p>
				<textarea maxlength="12" placeholder="ここにメッセージを入力してね"></textarea>
				<a href="javascript:void(0);" class="btn0">決定！</a>
			</div>


			<div class="animation_editor">
				<p class="border_text">
					<span>アニメーションを<br>設定して演出しよう！</span>
				</p>
				<div class="slider">
					<ul>
					</ul>
				</div>
				<a href="javascript:void(0);" class="btn0">決定！</a>
			</div>
			

			<div class="share">
				<a href="javascript:void(0);" class="btn0 twitter">Twitterにシェアする</a>
				<a href="javascript:void(0);" class="btn0 facebook">FaceBookにシェアする</a>
				<a href="javascript:void(0);" class="btn0 download">画像をダウンロードする</a>
			</div>
		</div>


	</div>

	<%= hidden_field_tag "authenticity_token", form_authenticity_token %>