
<img src="/images/post_images/<%= @postImage.id %>.<%= @postImage.image_type %>" class="post_image">

<a href="/" class="btn0 c_mb40">トップに戻る</a>

<!--
<p>title:<%= @postImage.title %></p>
<p>id:<%= @postImage.id %></p>
<p>content:<%= @postImage.content %></p>
<p>user_id:<%= @postImage.user_id %></p>
<p>lat:<%= @postImage.lat %></p>
<p>lng:<%= @postImage.lng %></p>
-->

<script>
	// location.href = '/';
</script>