
<footer>
	<div class="inner">
		<div class="left">
			<%= link_to image_tag('footer/logo.png', { :border => '0', :alt => 'MapStamp マップポップ'}), :controller => "home", :action => "index" %>
		</div>
		<div class="right">
			<nav>
				<ul>
					<li>
						<%= link_to 'よくある質問', :controller => "home", :action => "help" %>
					</li>
					<li>
						<%= link_to '利用規約', :controller => "home", :action => "rule" %>
					</li>
					<li>
						<%= link_to 'プライバシーポリシー', :controller => "home", :action => "privacypolicy" %>
					</li>
					<li>
						<%= link_to '運営者情報', :controller => "home", :action => "info" %>
					</li>
					<% if logged_in? %>
					<li>
						<%= link_to "ログアウト", logout_path, method: :delete %>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
	<p class="copy"><a href="http://skizi.jp" target="_blank">&copy;夕暮れソフト</a></p>
</footer>

