<% flash.each do |key, value| %>
  <%= content_tag(:p, value, class: "#{key}") %>
<% end %>

<%= form_for(user) do |f| %>
	<div class="c_mb20 email">
		<%= f.label "email" %>
		<%= f.email_field :email, placeholder:"メールアドレス" %>
	</div>
	<div class="c_mb20 password">
		<%= f.label "パスワード" %>
		<%= f.password_field :password, placeholder:"パスワード（6文字以上）", minlength:"6" %>
	</div>
	<div class="c_mb20 name">
		<%= f.label "名前" %>
		<%= f.text_field :name, placeholder:"名前" %>
	</div>

	<%= f.hidden_field :username %>

	<div class="c_mb20 location">
		<%= f.label "出身地" %>
		<%= f.text_field :location %>
	</div>
	<div class="c_mb20 about">
		<%= f.label "自己紹介" %>
		<%= f.text_area :about %>
	</div>

	<%= f.submit "登録する", class:"submit_btn0 btn0" %>
	
<% end %>