<% content_for :js_css_include do %>
	
<% end %>

<div class="photo_container">
	<% time = Time.now.usec.to_s %>
  	<% if @user.photo.nil? %>
  		<% photo = '/docs/user_icon/no_image.jpg' %>
  	<% else %>
  		<%
  			if @user[:provider] == 'twitter' || @user[:provider] == 'facebook'
  				photo = @user.photo
  			else
  				photo = url_for_public@user.photo
  			end
  		%>
  	<% end %>
	<div class="photo" style="background-image:url(<%= photo + '?r=' + time %>);">
	</div>
	<p class="name"><%= @user[:name] %></p>
</div>


<p class="about"><%= @user[:about] %></p>

<table class="profile">
	<tr>
		<th>名前</th><td><%= @user[:name] %></td>
	</tr>
	<tr>
	<!--<li>id : <%= @user[:id] %></li>-->
	<!--<li>password : <%= @user[:password] %></li>-->
	<tr>
		<th>email</th><td><%= @user[:email] %></td>
	</tr>
	<tr>
		<th>出身地</th><td><%= @user[:location] %></td>
	</tr>
</table>

<p class="btn1 c_mb40">
	<a href="javascript:void(0);" class="edit_profile_btn btn1">プロフィールを編集</a>
</p>

<div class="modal edit_profile">
	<div class="inner">

		<div class="container">
			<div class="change_photo">
				<h3 class="title0">プロフィール画像変更</h3>
				<div class="photo_circle" style="background-image:url(<%= photo + '?r=' + time %>);">
				</div>
				<%= form_tag({ action: :upload_process }, multipart: true, class: 'photo c_mb40') do %>
					<div class="file_selector">
						<label for="file_photo" class="photo_file_select_btn">
							<%= file_field_tag :upfile, size: 50, id: 'file_photo' %>
							<p>写真選択</p>
						</label>
						<!--
						<div class="photo" style="background-image:url(<%= photo + '?r=' + time %>);">
						</div>
						-->
					</div>

					<%= hidden_field_tag :user_id, @user.id %>
					<!--<%= submit_tag '変更', class: 'photo_upload_btn btn0' %>-->
					<!--
					<a href="javascript:void(0);" class="photo_upload_btn btn0">保存</a>
					-->
				<% end %>

				<p class="btn1">
					<a href="javascript:void(0);" class="change_type_btn">プロフィール変更</a>
				</p>
			</div>

			<div class="change_profile">
				<h3 class="title0">プロフィール変更</h3>
				<%= form_for @user, html: { class: 'c_mb40' } do |f| %>
					
					<%= f.hidden_field :email %>
					<%= f.hidden_field :password %>
					<%= f.hidden_field :username %>
					<%= f.hidden_field :photo %>

					<div class="c_mb30 name clearfix">
						<%= f.label "名前" %>
						<%= f.text_field :name, maxlength: '20' %>
					</div>
					<div class="c_mb30 location clearfix">
						<%= f.label "出身地" %>
						<%= f.text_field :location, maxlength: '20' %>
					</div>
					<div class="c_mb30 about clearfix">
						<%= f.label "自己紹介" %>
						<%= f.text_area :about, maxlength: '50' %>
					</div>
					<%= f.submit "保存", class:"submit_btn btn0" %>
				<% end %>
				<p class="btn1 c_mb30">
					<a href="javascript:void(0);" class="change_type_btn">プロフィール画像変更</a>
				</p>
			</div>

		</div>
		<a href="javascript:void(0);" class="close_btn">×</a>
	</div>
</div>